package {{.Model.Names.PascalSingular}}

type IService interface {
CreateMany([]*models.{{.Model.Names.PascalPlural}}) error
UpsertMany([]*models.{{.Model.Names.PascalPlural}}) error
DeleteMany([]string) error
}

type IRepository interface {
createMany([]*models.{{.Model.Names.PascalPlural}}) error
upsertMany([]*models.{{.Model.Names.PascalPlural}}) error
deleteMany([]string) error
}

type Service struct {
repository IRepository
}

type Repository struct {
db  *bun.DB
ctx context.Context
}

func CreateService(db *bun.DB) *Service {
repo := NewRepository(db)
return NewService(repo)
}

func NewService(repository IRepository) *Service {
return &Service{repository: repository}
}

func NewRepository(db *bun.DB) *Repository {
return &Repository{db: db, ctx: context.Background()}
}
