package {{.Model.Names.CamelSingular}}

// Init func
func Init(r *gin.RouterGroup, db *bun.DB) {
var h = handler.CreateHandler(db)
r.GET("/", h.GetAll)
r.GET("/:id", h.Get)
r.POST("/", h.Create)
r.DELETE("/:id", h.Delete)
r.PUT("/:id", h.Update)
}
